@section Scripts {
    @Scripts.Render("~/Scripts/CityScript.js")
}
<br />



<div class="container">
    <br />

    <div class="row">
        <h2 id="info" style="text-align:center; background-color:orange" ><strong> Cities and countries</strong> </h2>
       

    </div>

 


    <div class="container">


        <div class="row" style="text-align:center;display:block" id="pretraga">
            <h4><strong>Search the city by population</strong></h4>
            <br />

            <form class="form-inline" action="/action_page.php">
                <div class="form-group">
                    <label for="from" style="margin-right:50px">From:</label>
                    <input type="number" class="form-control" id="from" placeholder="Enter population" style="margin-right:50px">
                </div>
                <div class="form-group">
                    <label for="do" style="margin-right:50px">To:</label>
                    <input type="number" class="form-control" id="to" placeholder="Enter population" >
                </div>

                <button type="submit" class="btn btn-default" style="background-color:orange;margin-left:50px;  width:100px;">Search</button>
            </form>
        </div>



        <br />
        <br />


        <div class="row">



            <div id="data" style="text-align:center">
            </div>
            <button id="refreshTable" class="btn btn-default" style="text-align:center;background-color:orange;margin-left:45%;  width:100px;">Refresh table</button>
        </div>

    </div>
    <br />
    
 

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-4" style="margin-right:10%">
                <form class="form-horizontal" method="post" action="post/" id="addCountryForm" style="display:block">

                    <h3>Add new country</h3>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Name:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="text" class="form-control" id="nameCountry" placeholder="Enter name" required minlength="3" maxlength="40">


                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Country code:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="text" class="form-control" id="countryCode" placeholder="Enter code"required minlength="2" maxlength="10" >
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-default" style="float:left;width:95px;background-color:orange">Add</button>
                            <button type="reset" class="btn btn-default" style="float:right;width:95px">Reset</button>
                        </div>
                    </div>
                </form>
            </div>



            <div class="col-sm-offset-1 col-sm-4">
                <form class="form-horizontal" method="post" action="post/" id="addCityForm" style="display:block">
                    <h3>Add new city</h3>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Name:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="text" class="form-control" id="nameCity"placeholder="Enter name" required minlength="2" maxlength="40">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Zip code:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="number" class="form-control" id="zipCode"placeholder="Enter zip code" required min="1" max="9999999">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Population:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="number" class="form-control" id="population" placeholder="Enter population" required min="1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Country:</label>
                        <div class="col-sm-8" style="float:right">
                            <select class="form-control" id="country" required>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-default" style="float:left;width:95px;background-color:orange">Add</button>
                            <button type="reset" class="btn btn-default" style="float:right;width:95px">Reset</button>
                        </div>
                    </div>
                </form>



            </div>

        </div>



    </div>





</div>